
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  font-size: 88px;
  text-align: center;
  background-color: #fcce00;
  color: #ffffff;
  background-position-x: 0px;
  background-position-y: 8;
  opacity: 81%;
  margin: 8px 0;
  
   /* Default font, size, and margins */
}

h2 {
  font-size: 38px;
  text-align: center;
  background-color: #ff6b00;
  color: #ffffff;
  background-position-x: 0px;
  background-position-y: 144px;
  opacity: 81%;
  margin: 8px 0;
  /* Default font, size, and margins */
}

.bannièrerouge {
  background-color: #e02020;
  margin:8px 0;
  height: 32px;
  opacity: 81%;
}
.bannièreviolette {
  background-color: #b620e0;
  margin:8px 0;
  height: 16px;
  opacity: 81%; 
}
.bannièrebleue {
  background-color: #6236ff;
  margin:8px 0 0;
  height: 8px;
  opacity: 81%;
}
h3 {
 font-size: 40px;
 text-align: center;
 font-family: Poppins;
 color: #231f20;
 background-position-x: center;
 background-position-y: center;
 margin: 64px 0;
  /* Default font, size, and margins */
}
.bloc {
  display: flex;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.bloc-content,
.bloc-ordi {
  flex-basis: 320px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}
.bloc-content {
  margin-left: 32px;
  margin-right: 32px;
}
.bloc-titre{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.bloc-contenu{
font-size: 14px;
text-align: left;
font-family: Poppins;
}
.CTA-1 {
  display: block;
  max-width: 185px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fcce00;
  border-radius: 15px;
  border: 1px solid #fcce00;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
}
.CTA-2 {
  display: block;
  max-width: 185px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color:#ff6b00;
  border-radius: 15px;
  border: 1px solid #ff6b00;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
}
.bloc-ordi {
background-position: top left;
background-size: auto 100%;
background-image: url(../img/bg-yellow.png);

}
.bloc-ordi img {
  mix-blend-mode: darken;
}
.bloc-ordi_orange {
  background-image: url(../img/bg-orange.png)
}
.feature-titre {
  text-align: left;
  font-size: 32px;
}
.feature-contenu {
font-size: 24px;
}
.feature-content {
margin: 32px 153px 32px 32px;
}
.invader {
margin-left: 694px;
}
.invader img {
  mix-blend-mode: darken;
}
.invader_red {
  background-image: url(../img/bg-red.png);
}
.bateau {
margin-left: 694px; 
}
.bateau img {
  mix-blend-mode: darken;  
}
.bateau_purple {
  background-image: url(../img/bg-violet.png);
}
.mois {
margin-left: 694px
}
.mois img {
  mix-blend-mode: darken;
}
.mois_blue {
  background-image: url(../img/bg-blue.png);
}

.flexbox-vignettes {
  display: grid; /* une grille de 4 colonnes égales */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr) */
  grid-gap: 20px; /* gouttière de 20px */
  /* l’article mis en avant occupera */
  margin-left: 4em;
  margin-right: 4em;
  grid-column: span 3; /* trois cellules (cases) horizontales */
  grid-row: span 2; /* et deux verticales */
  }
.releases-title {
  color: black;
}
h6 {
  /* Default font, size, and margins */
}
h5 {
  font-weight:normal;
  /* Default font, size, and margins */
}
a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/