
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  font-size: 14px;
  /* Default font size and line height */
}



h1 {
  font-size: 88px;
  text-align: center;
  background-color: #fcce00;
  color: #ffffff;
  background-position-x: 0px;
  background-position-y: 8;
  opacity: 81%;
  margin: 8px 0;
  
   /* Default font, size, and margins */
}

h2 {
  font-size: 38px;
  text-align: center;
  background-color: #ff6b00;
  color: #ffffff;
  background-position-x: 0px;
  background-position-y: 144px;
  opacity: 81%;
  margin: 8px 0;
  /* Default font, size, and margins */
}

.bannièrerouge {
  background-color: #e02020;
  margin:8px 0;
  height: 32px;
  opacity: 81%;
}
.bannièreviolette {
  background-color: #b620e0;
  margin:8px 0;
  height: 16px;
  opacity: 81%; 
}
.bannièrebleue {
  background-color: #6236ff;
  margin:8px 0 0;
  height: 8px;
  opacity: 81%;
}
h3 {
 font-size: 40px;
 text-align: center;
 font-family: Poppins;
 color: #231f20;
 background-position-x: center;
 background-position-y: center;
 margin: 64px 0;
  /* Default font, size, and margins */
}
.bloc {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.bloc-content,
.bloc-ordi1,
.bloc-ordi {
  flex-basis: 320px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}
.bloc-content {
  margin-left: 32px;
  margin-right: 32px;
}
.bloc-titre{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.bloc-contenu{
font-size: 14px;
text-align: justify;
font-family: Poppins;
margin: 34px 31px 30px 48px;
}

.bloc-contenu2 {
margin: 65px 47px 32px 32px;
}

.CTA-1 {
  display: block;
  max-width: 185px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fcce00;
  border-radius: 15px;
  border: 1px solid #fcce00;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  white-space:nowrap;
  background-color: #ffffff;
 }
.CTA-1:hover{
  color: black;
  background-color: #ff6b0073;
}
.CTA-2 {
  display: block;
  max-width: 185px;
  font-size: 12px;
  font-weight: bold;
  /*text-align: center;*/
  color:#ff6b00;
  white-space:nowrap;
  border-radius: 15px;
  border: 1px solid #ff6b00;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  background-color: #ffffff;
}
.CTA-2:hover{
  color: black;
  background-color:#fcce0087;
}
.bloc-ordi1,
.bloc-ordi {
background-position: left bottom ;
background-size: auto 100%;
background-image: url(../img/bg-yellow.png);
display: flex;
}
.bloc-ordi1 img {
  mix-blend-mode: darken;
  margin-left: auto;
  max-width: 70%;
  margin-top: 40px;
}
.bloc-ordi img {
  mix-blend-mode: darken;
  margin-left: auto;
  max-width: 70%;
  margin-right: auto;
}
.bloc-ordi_orange {
  background-image: url(../img/bg-orange.png);
}

.flexbox-container {
  display: flex;
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
}

.flexbox-container > div:first-child {
margin-right: 20px;
}

.feature-1 {
background-image: url(../img/bg-red.png);
background-repeat: repeat;
background-size: contain;
mix-blend-mode: darken;
}

.feature-2 {
background-image: url(../img/bg-violet.png);
background-repeat: repeat;
background-size: contain;
mix-blend-mode: darken;  
}

.feature-3 {
background-image: url(../img/bg-blue.png);
background-repeat: repeat;
background-size: contain;
mix-blend-mode: darken;
}

.bloc-content {
margin-right: 32px;
margin-left: 32px;
}

.soustitre3 {
margin: 0 0 32px 0;
font-family: Poppins;
font-size: 32px;
font-weight: bold;
text-align: left;
color: white;
}

.paragraphe3 {
font-size: 24px;
margin: 32px 153px 32px 0;
text-align: left;
color: #ffffff;  
}

.CTA-3 {
font-size: 12px;
font-weight: bold;
text-align: right;
border-radius: 25px;
border: 2px solid;
padding: 5px 10px 5px 10px;
float: left;
color: #ffffff;
}

.fond-noir {
background-color: black;
}

.flexbox-vignettes {
  display: grid; /* une grille de 4 colonnes égales */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr) */
  grid-gap: 20px; /* gouttière de 20px */
  /* l’article mis en avant occupera */
  margin-left: 4em;
  margin-right: 4em;
  grid-column: span 3; /* trois cellules (cases) horizontales */
  grid-row: span 2; /* et deux verticales */
}

@media screen and (max-width: 1000px){
  .flexbox-vignettes {
  grid-template-columns: 1fr 1fr 1fr;
  }
  }

@media screen and (max-width: 700px){
.flexbox-vignettes {
grid-template-columns: 1fr 1fr;
}
}

.releases-title{
  color: white;
  margin: 0 211.5px 64px 208.5px;
  padding-top: 1em;  
}

.game {
  position: relative;
  max-width: 320px;
  margin: auto;
  color: #ffffff;
}

.game-cover {
  display: block;
}

.game-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.81);
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  opacity: 0;
  transition: opacity 200ms;
}

.game-content:hover {
opacity: 0.81;
}

.game-content > * {
  transform: translateY(30px);
  transition: transform 200ms;
}

.game:hover.game-content {
  transform: translateY(-10px);
  opacity: 1;
}

.game-title1 {
  font-size: 32px;
  color: #fcce00;
  font-weight: bold;
}

.game-title2 {
  font-size: 32px;
  color: #ff6b00;
  font-weight: bold;
}

.Contact {
  color: white;
  margin: 0 211.5px 64px 208.5px;
  padding-top: 1em;
}

.form-row {
 margin: 0 211.5px 64px 208.5px;
 font-family: Poppins;
 font-size: 40px;
 font-weight: 900;
 text-align: center;
 color: white;
 padding-top: 1em;
}

h6 {
  /* Default font, size, and margins */
}
h5 {
  font-weight:normal;
  /* Default font, size, and margins */
}
a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/